// Ardor Brand
$ARDOR_BLUE: #0E6A99;
$ARDOR_BLUE_HOVER: #2678a3;

// Colors
$BLUE: #3498DB;
$ORANGE: #db7734;
$GREEN: #30B41D;
$PURPLE: #731AA7;
$YELLOW: #D0EB55;
$RED: #E74C3C;
$GREY: #e5e5e5;
$DARK_GREY: #8c8c8c;
$DARK_BLUE: #2C3E50;
$SOFT_GREY:  #ECF0F1;
$WHITE: #f9fafa;
$BLACK: black;

// Fonts
$TEXT_FONT: Helvetica, Arial, "Lucida Grande", sans-serif;
$MATH_FONT: "TeX, STIX-Web, Asana-Math, Neo-Euler, Gyre-Pagella, Gyre-Termes, Latin-Modern";

// Font-styles
$TEXT_SHADOW: rgba(80,80,80, 0.1);

$level1: rgb(153, 32, 14);
$level2: rgb(153, 153, 51);
$level3: rgb(14, 153, 84);
$level4: rgb(14, 106, 153);
